<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
      
      <!-- 0. -->
      <add key="ReportTemplate:Basic"
           value="Sample product, name = $name$, upc = $upc$, price = $basePrice$."/>
      
      <!-- 1. -->
      <add key="ReportTemplate:Tax"
           value="Product price reported as $basePrice$ before tax and $finalPrice$ after $taxRate$ tax." />
      
      <!-- 2. -->
      <add key="ReportTemplate:Tax.Discount"
           value="Tax=$taxRate$, discount=$discountRate$ Tax amount = $taxAmount$;Discount amount = $discountAmount$ 
                Price before = $basePrice$, price after = $finalPrice$."/>
    </appSettings>
</configuration>
